<h1>Sign up</h1>

<form action="/post_driver" method="post">

  <div>
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="Choose a email..." type="text">
  </div>

      
      
         
  
  <label for="username">
    Username
  </label>

  <div>
          
    <input type="text" id="username" name="username">
      </div>
    
         
  
  <label for="first_name">
    First name
  </label>

  <div>
          
    <input type="text" id="first_name" name="first_name">
      </div>
    
         
  
  <label for="last_name">
    Last name
  </label>

  <div>
          
    <input type="text" id="last_name" name="last_name">
      </div>
    
         
  
  <label for="bio">
    Bio
  </label>

  <div>
        <textarea id="bio" name="bio" rows="3"></textarea>
      </div>
    
         
  
  <label for="hired_on">
    Hired on
  </label>

  <div>
          
    <input type="text" id="hired_on" name="hired_on">
      </div>
    
  
  <div>
    <label for="password">Password</label>
    <input id="password" name="password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation">Password Confirmation</label>
    <input id="password_confirmation" name="password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>
